---
---

@import "{{ site.theme }}";

.img-fluid
{
  max-width: 100%;
}
.text-center
{
  text-align: center;
}

header
{
  ul
  {
    &.main-menu
    {
      background-color: transparent;
      border: none;
      border-radius: none;
      width: 100%;
      height: auto;
      
      a
      {
        font-size: initial;
      }

      li
      {
        display: block;
        border-radius: initial;
        border: none;
        border-bottom: 1px solid #ccc;
        float: none;
        width: 100%;
      }
      
      li:last-child
      {
        border-bottom: none;
      }
    }
  }
}

footer
{
  clear: left;
}
